*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-family:Georgia, Times, 'Times New Roman', serif;
}
body{
  background: linear-gradient(to right, rgb(255, 196, 87),rgb(246, 134, 236));
}

.App{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card{
  background-color: #fff;
  padding: 3rem 5rem;
}

.card p{
  padding-top: 1rem;
  line-height: 150%;
}
.expand{
  width: 35rem;
}